
snippet ll "log info" b
log.Infof($0)
endsnippet

snippet lw "log warning" b
log.Warnf($0)
endsnippet

snippet le "logError" b
log.Errorf($0)
endsnippet

snippet ifee "if err log it" b
if err != nil {
   fmt.Println("error:", err)
}
endsnippet

snippet fun "Function" b
//$1 xxx...
func ${1:Name}(${2:params} ${3:string}) ${4:} {
	${0:${VISUAL}}
}
endsnippet
